@use '../var';

.header {
    margin: 12px 0;

    @media (min-width: 700px) {
        margin: 25px 0;
    }

    @media (min-width: 1200px) {
        margin-bottom: 40px;
    }
}

.header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 166px 1fr max-content;
        align-items: end;
        gap: 20px;
    }

    @media (min-width: 1200px) {
        grid-template-columns: calc(min(31.944vw, 460px) - 20px) 1fr max-content;
    }

    @media (min-width: 1441px) {
        grid-template-columns: calc(min(calc(460px + (100% - 1360px) / 2), 700px) - 20px) 1fr max-content;
    }
}

.header__logo {
    @media (min-width: 700px) {
        margin-right: 20px;
    }
}

.header__menu {
    margin-right: auto;
}

.header__menu {
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: var(--c-bg);

    &--show {
        opacity: 1;
        z-index: 1000;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content 1fr;
    }

    @media (min-width: 700px) {
        position: static;
        opacity: 1;
        z-index: 1000; 
    }
}

.header__contact {
    a {
        color: var(--c-b);
        font-family: var(--f-body);
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;

        @media (min-width: 1600px) {
            font-size: 16px;
        }
    }
}

// Кнопки меню
.header__menu-btn {
    width: 28px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 700px) {
        display: none;
    }
}

.--line {
    height: 1px;
    background-color: var(--c-b);
}

.header__menu-mobile {
    margin: 12px 12px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 700px) {
        display: none;
    }
}

.header__menu-close-btn {
    width: 18px;
    height: 18px;
    position: relative;
}

.--close-line {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(315deg);
    background-color: var(--c-b);
}

.--close-line-- {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
}

.header__contact-mobile {
    margin: 20px 12px;
    display: flex;
    justify-content: flex-end;

    @media (min-width: 700px) {
        display: none;
    }
}