@use '../var';

.progress {}

// Шапка достижений
.progress__header {
    margin-bottom: 40px;

    @media (min-width: 700px) {
        margin-bottom: 60px;
    }
}

.progress__title {
    margin-bottom: 40px;
}

// Список достижений
.progress__content {
    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 166px 1fr;
        gap: 20px;
    }

    @media (min-width: 1200px) {
        grid-template-columns: calc(min(31.944vw, 460px) - 20px) 1fr;
    }
}

.progress-slider {
    @media (min-width: 700px) {
        grid-column: 2/3;
        margin-left: initial;
    }
}

.progress__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 700px) {
        width: max-content;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 40px 20px;
    }

    @media (min-width: 1200px) {
        margin: 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

.progress__item {
    max-width: 267px;
    position: relative;
    border-left: 1px solid var(--c-b);
    padding: 0 0 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;

    @media (min-width: 700px) {
        max-width: 230px;
    }

    @media (min-width: 1200px) {
        @include var.c_clamp(width, 287, 1440);
        max-width: 287px;
    }

    &::before {
        content: attr(data-progress-count);
        color: var(--c-s-200);
        font-family: var(--f-body);
        font-size: 9px;
        font-weight: 500;
    }
}