.service {}

// Шапка
.service__content {
    margin-bottom: 40px;

    @media (min-width: 700px) {
        margin-bottom: 60px;
    }
}

.service__title {
    margin-bottom: 20px;

    @media (min-width: 700px) {
        margin-bottom: 25px;
    }
}

// Услуги
.service__price-block {
    border-top: 1px solid var(--c-s-200);
}

.service__price-block:last-child {
    border-bottom: 1px solid var(--c-s-200);
}

.service__price-title {
    position: relative;

    label {
        padding: 25px 0;
        display: grid;
        grid-template-columns: .2fr 1fr;
        position: relative;
        z-index: 5;

        @media (min-width: 700px) {
            grid-template-columns: .4888fr 1fr;
        }

        span {
            grid-column: 2/3;
        }

        &::before {
            content: attr(data-count);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            color: var(--c-s-200);
            font-family: var(--f-body);
            font-size: 8px;
            font-weight: 500;
        }
    }

    input {
        -webkit-appearance: none;
        position: absolute;
    }
}

.service__price-icon {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @media (min-width: 700px) {
        right: 20px;
    }

    svg {
        transform-origin: 50% 50%;
        transition: transform .5s ease;
    }
}

.service__price-block:has(input:checked) .service__price-icon svg {
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    transition: transform .5s ease;
}

.service__list {
    --height: initial;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 0;
    overflow: hidden;
    transition: height .5s ease;
}

.service__price-block:has(input:checked) .service__list {
    height: var(--height);
    transition: height .5s ease;
}

.service__item {
    padding-right: 12px;
    display: grid;
    grid-template-columns: .2fr 1fr;

    @media (min-width: 700px) {
        grid-template-columns: .4888fr 1fr;
    }

    span {
        grid-column: 2/3;
    }
}
