@use '../var';

.about-me {
    margin-bottom: 120px;

    @media (min-width: 700px) {
        margin-bottom: 140px;
        padding-bottom: 60px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 160px;
    }
}

.about-me__wrapper {
    padding-bottom: 65px;
    position: relative;

    @media (min-width: 700px) {
        padding-bottom: 0;
    }

    @media (min-width: 1200px) {
        padding-bottom: 48px;
    }
}

.about-me__title {
    margin-bottom: 40px;

    @media (min-width: 700px) {
        grid-column: 2/3;
    }
}

.about-me__row {
    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 166px 1fr;
        gap: 20px;
    }

    @media (min-width: 1200px) {
        grid-template-columns: calc(min(31.944vw, 460px) - 20px) 1fr;
    }
}

.about-me__heading {
    @media (min-width: 1600px) {
        font-size: 18px;
    }

    span {
        display: block;
    }
}

.about-me__content {

    p {
        margin-bottom: 10px;

        @media (min-width:700px) {
            margin-bottom: 12px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    img {
        width: 100%;
        height: auto;
        margin: 25px 0;
        aspect-ratio: 336/183;

        @media (min-width:700px) {
            margin: 40px 0;
            aspect-ratio: 562/306;
        }

        @media (min-width:1200px) {
            aspect-ratio: 900/491;
        }
    }
}

.about-me__content-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 287px));
    gap: 10px;
    position: relative;

    @media (min-width: 700px) {
        margin-top: 25px;
        gap: 20px;
    }
}

.about-me__link {
    margin-top: 20px;
    display: inline-block;

    @media (min-width: 700px) {
        margin-top: 25px;
    }
}

.about-me svg {
    position: absolute;
    right: 0;
    top: calc(100% - 65px);
    width: 221px;
    height: 72px;

    @media (min-width: 700px) {
        width: 199px;
        height: 62px;
        top: 100%;
    }

    @media (min-width: 1100px) {
        right: 15%;
    }

    @media (min-width: 1200px) {
        width: 276px;
        height: 98px;
        right: 0;
        top: calc(100% - 48px);
    }

    @media (min-width: 1350px) {
        right: 13%;
    }
}
