@use '../var';

.article-portfolio {}

// Шапка
.article-portfolio__header {
    margin-bottom: clamp(33.333px, 11.111vw, 60px);
    overflow: hidden;

    @media (min-width: 700px) {
        margin-bottom: 60px;
    }
}

.article-portfolio__detail-picture {
    @include var.c_clamp(width, 336, 360);
    max-height: 229px;
    aspect-ratio: 336/229;

    @media (min-width: 700px) {
        @include var.c_clamp(width, 728, 768);
        max-height: 496px;
        aspect-ratio: 728/496;
    }

    @media (min-width: 1200px) {
        @include var.c_max(width, 1200, 1360, 1440);
        max-width: 1360px;
        max-height: 925px;
        aspect-ratio: 1360/925;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

// Дефолтный контент
.article-portfolio__content {
    margin-bottom: clamp(33.333px, 11.111vw, 60px);

    @media (min-width: 700px) {
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

.article-portfolio__title {
    margin-bottom: 40px;
}

.article-portfolio__post-content {

}

// Контент блок
.article-portfolio__content-block {
    //margin-bottom: clamp(33.333px, 11.111vw, 60px);
    //margin-bottom: 10px;
    overflow: hidden;

    @media (min-width: 700px) {
        //margin-bottom: 20px;
    }

    &:last-child {
        margin-bottom: clamp(100px, 33.333vw, 127px);

        @media (min-width: 700px) {
            margin-bottom: clamp(127px, 18.229vw, 160px);
        }

        @media (min-width: 1200px) {
            margin-bottom: 160px;
        }
    }
}

.article-portfolio__block-list {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    overflow: hidden;

    @media (min-width: 700px) {
        margin-bottom: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

.article-portfolio__block-item {
    @include var.c_clamp(width, 336, 360);
    max-height: 336px;
    aspect-ratio: 336/336;

    @media (min-width: 700px) {
        @include var.c_clamp(width, 354, 768);
        max-height: 354px;
        aspect-ratio: 354/354;
    }

    @media (min-width: 1200px) {
        @include var.c_max(width, 1200, 670, 1440);
        max-width: 670px;
        max-height: 670px;
        aspect-ratio: 670/670;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.article-portfolio__text-block {
    margin: clamp(33.333px, 11.111vw, 60px) 0;

    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    @media (min-width: 1200px) {
        margin: 60px 0;
    }
}

.--column {
    @media (min-width: 700px) {
        grid-column: 2/3;
    }
}

.article-portfolio__big-src {
    @include var.c_clamp(width, 336, 360);
    margin-bottom: 10px;

    @media (min-width: 700px) {
        @include var.c_clamp(width, 728, 768);
        margin-bottom: 20px;
    }

    @media (min-width: 1200px) {
        @include var.c_clamp(width, 1360, 1440);
        max-width: 1360px;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

.--content {
    h1, h2, h3 {
        margin-bottom: clamp(10px, 3.333vw, 25px);
        line-height: 1.4;

        @media (min-width: 700px) {
            margin-bottom: 25px;
        }
    }

    p {
        margin-bottom: 20px;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.article-portfolio__aside-title {
    margin-bottom: 40px;

    @media (min-width: 700px) {
        margin-bottom: 60px;
    }
}
