.logotype {
  margin-top: 20px;
}
@media (min-width: 700px) {
  .logotype {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .logotype {
    margin-top: 40px;
  }
}

.logotype__wrapper {
  container-type: inline-size;
}

@container (width > 920px) {
  .logotype__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
}