@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
:root {
  --c-s-100: #CECECE;
  --c-s-200: #7E7E7D;
  --c-b: #1C1C1C;
  --c-bg: #FEFEFE;
  --f-body: "Montserrat", "Verdana", sans-serif;
  --f-heading: "Montserrat", "Verdana", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, ul, ol, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--c-bg);
  font-family: var(--f-body);
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: var(--c-s-200);
}

@media (min-width: 700px) {
  body {
    font-size: 14px;
  }
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  display: block;
  font-family: var(--f-heading);
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--c-b);
}
h1--c-100, h2--c-100, h3--c-100, h4--c-100, .h1--c-100, .h2--c-100, .h3--c-100, .h4--c-100 {
  color: var(--c-s-100);
}
h1--c-200, h2--c-200, h3--c-200, h4--c-200, .h1--c-200, .h2--c-200, .h3--c-200, .h4--c-200 {
  color: var(--c-s-200);
  text-transform: lowercase;
}
h1--lh, h2--lh, h3--lh, h4--lh, .h1--lh, .h2--lh, .h3--lh, .h4--lh {
  line-height: 140%;
}
h1--tti, h2--tti, h3--tti, h4--tti, .h1--tti, .h2--tti, .h3--tti, .h4--tti {
  text-transform: initial;
}

h1, .h1 {
  font-size: 28px;
}

h2, .h2 {
  font-size: 18px;
}

h3, .h3 {
  font-size: 12px;
}

h4, .h4 {
  font-size: 8px;
}

@media (min-width: 700px) {
  h1, .h1 {
    font-size: 37px;
  }
  h2, .h2 {
    font-size: 22px;
  }
  h3, .h3 {
    font-size: 14px;
  }
  h4, .h4 {
    font-size: 9px;
  }
}
a {
  color: var(--c-b);
  font-family: "Helvetica";
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  line-height: 100%;
  text-underline-offset: 6px;
}
@media (min-width: 700px) {
  a {
    font-size: 15px;
  }
}

p {
  line-height: 120%;
}

.container {
  margin: 0 3.333vw;
}
@media (min-width: 700px) {
  .container {
    margin: 0 2.6vw;
  }
}
@media (min-width: 1200px) {
  .container {
    margin: 0 2.604vw;
  }
}
@media (min-width: 1600px) {
  .container {
    margin: 0 2.083vw;
  }
}
@media (min-width: 1921px) {
  .container {
    max-width: 1840px;
    margin: 0 auto;
  }
}

.wrapper {
  max-width: 1360px;
}
@media (min-width: 1360px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.number {
  font-family: var(--f-body);
  font-weight: 500;
  font-size: 18px;
  line-height: 1em;
  text-transform: lowercase;
  color: var(--c-s-200);
}
@media (min-width: 700px) {
  .number {
    font-size: 22px;
  }
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .menu__list {
    flex-direction: row;
    align-items: flex-end;
    gap: 55px;
  }
}

.menu__item:has(.menu__sub-menu) {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .menu__item:has(.menu__sub-menu) .menu__sub-menu {
    order: -1;
  }
}

.menu__link {
  display: block;
  padding: 20px 12px;
  color: var(--c-s-200);
  font-family: var(--f-body);
  font-size: 28px;
  font-weight: 500;
  text-transform: lowercase;
  text-decoration: none;
  transition: color 0.25s ease;
  opacity: 0;
}
@media (min-width: 700px) {
  .menu__link {
    padding: 0;
    font-size: 14px;
    opacity: 1;
  }
}
@media (min-width: 1600px) {
  .menu__link {
    padding: 0;
    font-size: 18px;
  }
}
.menu__link:hover {
  color: var(--c-b);
  transition: color 0.25s ease;
}

@media (min-width: 700px) {
  .menu__sub-item {
    margin-bottom: 8px;
  }
}

.logo {
  width: 31px;
  height: 26px;
}
@media (min-width: 700px) {
  .logo {
    width: 146px;
    height: 120px;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 221px;
    height: 183px;
  }
}
@media (min-width: 1600px) {
  .logo {
    width: 290px;
    height: auto;
  }
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom center;
     object-position: bottom center;
}

.--not-home .logo {
  max-height: 96px;
  max-width: 120px;
}

.contact-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-mobile__item {
  margin-right: 20px;
  color: var(--c-s-200);
  font-family: var(--f-body);
  font-size: 18px;
  font-weight: 500;
  text-transform: lowercase;
  text-decoration: none;
}
.contact-mobile__item:hover {
  color: var(--c-b);
}
.contact-mobile__item--phone {
  font-size: 28px;
}

.footer-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-menu__link {
  font-family: var(--f-body);
  font-weight: 500;
  text-decoration: none;
}

.pagination {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
@media (min-width: 700px) {
  .pagination {
    margin-top: 100px;
  }
}

.pagination__numbers {
  display: block;
  padding: 5px;
  color: var(--c-s-200);
  font-family: var(--f-body);
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}
@media (min-width: 700px) {
  .pagination__numbers {
    font-size: 14px;
  }
}
.pagination__numbers:hover {
  color: var(--c-b);
}
.pagination__numbers--current {
  display: block;
  line-height: 100%;
  color: var(--c-b);
}

.pagination__prev {
  margin-right: 6px;
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
  color: var(--c-b);
}
.pagination__prev::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 29 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07114 0L8.77825 0.707107L2.4846 7.00076H29.0001V8.00076H2.70808L8.7784 14.0711L8.07129 14.7782L0.682129 7.38901L8.07114 0Z' fill='%231C1C1C'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 8px;
}
@media (min-width: 700px) {
  .pagination__prev::before {
    width: 27px;
    height: 12px;
  }
}

.pagination__next {
  margin-left: 6px;
  color: var(--c-b);
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
}
.pagination__next::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 29 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07114 0L8.77825 0.707107L2.4846 7.00076H29.0001V8.00076H2.70808L8.7784 14.0711L8.07129 14.7782L0.682129 7.38901L8.07114 0Z' fill='%231C1C1C'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 8px;
  transform: rotate(180deg);
}
@media (min-width: 700px) {
  .pagination__next::after {
    width: 27px;
    height: 12px;
  }
}

.header {
  margin: 12px 0;
}
@media (min-width: 700px) {
  .header {
    margin: 25px 0;
  }
}
@media (min-width: 1200px) {
  .header {
    margin-bottom: 40px;
  }
}

.--not-home {
  margin-bottom: 0;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 700px) {
  .header__wrapper {
    display: grid;
    grid-template-columns: 166px 1fr max-content;
    align-items: end;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .header__wrapper {
    grid-template-columns: calc(min(31.944vw, 460px) - 20px) 1fr max-content;
  }
}
@media (min-width: 1441px) {
  .header__wrapper {
    grid-template-columns: calc(min(460px + (100% - 1360px) / 2, 700px) - 20px) 1fr max-content;
  }
}

@media (min-width: 700px) {
  .header__logo {
    margin-right: 20px;
  }
}

.header__menu {
  margin-right: auto;
}

.header__menu {
  opacity: 0;
  position: fixed;
  inset: 0;
  left: 100%;
  z-index: -1;
  background-color: var(--c-bg);
  transition: left 1s ease;
}
.header__menu--show {
  left: 0;
  opacity: 1;
  z-index: 1000;
  transition: left 1s ease;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content 1fr;
}
@media (min-width: 700px) {
  .header__menu {
    position: static;
    opacity: 1;
    z-index: 1000;
  }
}

.header__contact a {
  color: var(--c-b);
  font-family: var(--f-body);
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 1600px) {
  .header__contact a {
    font-size: 16px;
  }
}

.header__menu-btn {
  width: 28px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .header__menu-btn {
    display: none;
  }
}

.--line {
  height: 1px;
  background-color: var(--c-b);
}

.header__menu-mobile {
  margin: 12px 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 700px) {
  .header__menu-mobile {
    display: none;
  }
}

.header__menu-close-btn {
  width: 18px;
  height: 18px;
  position: relative;
}

.--close-line {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(315deg);
  background-color: var(--c-b);
}

.--close-line-- {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}

.header__contact-mobile {
  margin: 20px 12px;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
}
@media (min-width: 700px) {
  .header__contact-mobile {
    display: none;
  }
}

.header__mobile-logo {
  width: -moz-min-content;
  width: min-content;
  margin: 150px auto 12px;
}
@media (min-width: 700px) {
  .header__mobile-logo {
    display: none;
  }
}
.header__mobile-logo img {
  width: 234px;
  height: auto;
  margin-right: 6px;
}

.header__mobile-panel {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--c-bg);
  padding: 12px 0;
  transition: top 0.75s ease;
}
.header__mobile-panel--show {
  top: 0;
  transition: top 0.75s ease;
}
@media (min-width: 700px) {
  .header__mobile-panel {
    display: none;
  }
}

.footer {
  margin: 120px 0 25px;
}
@media (min-width: 700px) {
  .footer {
    margin: 140px 0 40px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 0.65fr 1fr;
}
@media (min-width: 1200px) {
  .footer__wrapper {
    grid-template-columns: 0.212fr 0.69fr 1fr;
  }
}

.footer__title {
  margin-bottom: 40px;
  text-transform: lowercase;
}

.footer__activity-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--c-b);
}

.footer__contact {
  margin-top: 140px;
  grid-column: 1/-1;
}
@media (min-width: 1200px) {
  .footer__contact {
    grid-column: initial;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .footer__contact-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
}

.footer__social-list {
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
@media (min-width: 1200px) {
  .footer__social-list {
    grid-column: 2/3;
  }
}

.footer__social-item {
  font-family: var(--f-body);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  color: var(--c-s-200);
  text-decoration: none;
  transition: color 0.2s;
}
.footer__social-item:hover {
  color: var(--c-b);
  transition: color 0.2s;
}

.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1200px) {
  .footer__contact-list {
    width: -moz-max-content;
    width: max-content;
    gap: 20px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .footer__contact-list {
    grid-column: 2/3;
  }
}

.footer__contact-item {
  height: 1em;
  position: relative;
  font-size: 28px;
  line-height: 1em;
}
@media (min-width: 700px) {
  .footer__contact-item {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .footer__contact-item {
    width: 536px;
  }
}

.footer__contact-animation {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
}

.footer__contact-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  display: block;
  font-family: var(--f-body);
  font-weight: 400;
  font-size: 28px;
  text-decoration: none;
  line-height: 1em;
}
@media (min-width: 700px) {
  .footer__contact-link {
    font-size: 45px;
  }
}