.about-me__wrapper {
  padding-bottom: 65px;
  position: relative;
}
@media (min-width: 700px) {
  .about-me__wrapper {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .about-me__wrapper {
    padding-bottom: 48px;
  }
}

.about-me__title {
  margin-bottom: 40px;
}
@media (min-width: 700px) {
  .about-me__title {
    grid-column: 2/3;
  }
}

@media (min-width: 700px) {
  .about-me__row {
    display: grid;
    grid-template-columns: 133px 1fr;
    gap: 60px clamp(40px, 5.208vw, 327px);
  }
}
@media (min-width: 1200px) {
  .about-me__row {
    -moz-column-gap: 327px;
         column-gap: 327px;
  }
}

.about-me__content {
  margin-top: 12px;
  margin-bottom: 20px;
}
.about-me__content p {
  margin: 10px 0;
}
@media (min-width: 700px) {
  .about-me__content p {
    margin: 12px 0;
  }
}
.about-me__content img {
  width: 100%;
  height: auto;
  margin: 40px 0;
  aspect-ratio: 336/183;
}
@media (min-width: 700px) {
  .about-me__content img {
    margin: 60px 0;
    aspect-ratio: 562/306;
  }
}
@media (min-width: 1200px) {
  .about-me__content img {
    aspect-ratio: 900/491;
  }
}

.about-me__content-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 287px));
  gap: 10px;
  position: relative;
}
@media (min-width: 700px) {
  .about-me__content-grid {
    gap: 20px;
  }
}

.about-me__signature p {
  margin: 10px 0;
}
@media (min-width: 700px) {
  .about-me__signature p {
    margin: 12px 0;
  }
}

.about-me__link {
  margin-top: 20px;
  display: inline-block;
}
@media (min-width: 700px) {
  .about-me__link {
    margin-top: 25px;
  }
}

.about-me svg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 221px;
  height: 72px;
}
@media (min-width: 700px) {
  .about-me svg {
    right: 0;
    bottom: 0;
    width: 199px;
    height: 62px;
  }
}
@media (min-width: 1200px) {
  .about-me svg {
    right: 0;
    bottom: 0;
    width: 276px;
    height: 98px;
  }
}