.portfolio-menu {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--c-s-100);
}

.portfolio-menu__container {
  width: 100%;
  overflow: hidden;
  container-type: inline-size;
}

.portfolio-menu__wrapper {
  position: relative;
  width: 100cqw;
  height: 28px;
}
@media (min-width: 700px) {
  .portfolio-menu__wrapper {
    display: grid;
    grid-template-columns: 166px 1fr;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .portfolio-menu__wrapper {
    grid-template-columns: calc(min(31.944vw, 460px) - 20px) 1fr;
  }
}
@media (min-width: 1441px) {
  .portfolio-menu__wrapper {
    grid-template-columns: calc(min(460px + (100% - 1360px) / 2, 700px) - 20px) 1fr;
  }
}

.portfolio-menu__list {
  width: -moz-max-content;
  width: max-content;
  height: 28px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  position: absolute;
  left: 0;
}
.portfolio-menu__list:has(.portfolio-menu__item.current-menu-item:nth-child(2)) {
  left: unset;
  right: 0;
}
@media (min-width: 700px) {
  .portfolio-menu__list {
    grid-column: 2/3;
    position: static;
    gap: 12px;
  }
}
@media (min-width: 1200px) {
  .portfolio-menu__list {
    gap: 20px;
  }
}

.portfolio-menu__item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
}
@media (min-width: 700px) {
  .portfolio-menu__item {
    gap: 12px;
  }
}
@media (min-width: 1200px) {
  .portfolio-menu__item {
    gap: 20px;
  }
}
.portfolio-menu__item:not(:last-child)::after {
  content: "/";
  display: inline-block;
  color: var(--c-s-100);
  font-family: var(--f-body);
  font-weight: 500;
  font-size: 28px;
  line-height: 1em;
}
@media (min-width: 700px) {
  .portfolio-menu__item:not(:last-child)::after {
    font-size: 37px;
  }
}

.portfolio-menu__link {
  flex-shrink: 0;
  text-decoration: none;
  color: var(--c-s-100);
  transition: color 0.5s ease;
}
.portfolio-menu__link:hover {
  color: var(--c-b);
  transition: color 0.5s ease;
}

.portfolio-menu__item.current-menu-item .portfolio-menu__link {
  color: var(--c-b);
}