.similar-post__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
@media (min-width: 700px) {
  .similar-post__list {
    row-gap: 40px;
  }
}
@media (min-width: 1200px) {
  .similar-post__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.similar-post__item {
  width: -moz-min-content;
  width: min-content;
}